// Variables
$num-colors: 10;
$base-color: #c24;
$base-color-trimmed: #9E1934;
$spectrum: 180deg;
$offset: 30deg;

// Import Normalize
@import '../bower_components/normalize-css/normalize.css';
// Import SUIT CSS Components
@import '../bower_components/suit-base/base.css';
@import '../bower_components/suit-utils-dimension/dimension.css';
@import '../bower_components/suit-grid/grid.css';
@import "/bower_components/suit-grid-layouts/grid-layouts-v1.css";
@import "/bower_components/suit-grid-layouts/grid-layouts-v2.css" (min-width: 25em);
@import "/bower_components/suit-grid-layouts/grid-layouts-v3.css" (min-width: 50em);
@import "/bower_components/suit-arrange/arrange.css";
@import "/bower_components/suit-form/form.css";
@import "/bower_components/suit-button/button.css";

// codechat base styles
a { text-decoration: none; }
*, *:before, *:after { box-sizing: border-box; }
html, body { height: 100%; width: 100%; overflow: hidden; }
body { padding: 3em 0; }
input:focus {
	outline: 0;
}
.js-navActive { background-color: #333; }

/* Let's get this party started */
::-webkit-scrollbar {
    width: 0.5em;
    height: 8px;
    background-color:rgba(0,0,0,0.1);
}
/* Track */
::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0.1);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3); 
}
/* Handle */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2); 
}

// Import codechat CSS components
@import './codechat';
@import './header';
@import './chat-message';
@import './chat-panel';
@import './user-color-bar';
@import './user-color';
@import './code-window';
@import './code-button';
@import './footer';
@import './data-bar';