/*! suit-code-chat v0.1 | github.com/ericmcdaniel/codechat */

/* ==========================================================================
   SUIT: Code chat
   ========================================================================== */

/**
 * Code chat
 *
 * 1. 
 *    
 */

/**
 * Code chat
 *
 * 1. 
 *    
 */

.CodeChat {
	height: 100%;
}

.CodeChat-main {
	height: 100%;
}

.CodeChat-code {
	height: 100%;
	border-right: 1px solid #ccc;
}

.CodeChat-codeArea {
	width: 1px;
	height: 100%;
	overflow: hidden;
	transition: all 0.3s ease-out;
}

.js-codeArea {
	width: 400px;
}

.CodeChat-codeArea > textarea {
	font-size: 0.9em;
	color: #333;
	font-family: 'PT Mono', monospace;
	padding: 0.5em;
	width: 400px;
	height: 33%;
	border: 0;
	background-color: #f6f6f6;
	resize: none;
}

.CodeChat-codeArea > textarea:hover {
	background-color: #e6e6e6;
	color: #222;
}