/*! suit-code-window v0.1 | github.com/ericmcdaniel/codechat */

/* ==========================================================================
   SUIT: Code window
   ========================================================================== */

/**
 * Code window for codechat
 *
 * 1. 
 *    
 */

/**
 * Code window
 *
 * 1. 
 *    
 */

.CodeWindow {
	height: 60%;
	width: 100%;
}

.CodeWindow-iframe {
	height: 100%;
	width: 100%;
}