/*! suit-footer v0.1 | github.com/ericmcdaniel/codechat */

/* ==========================================================================
   SUIT: Footer
   ========================================================================== */

/**
 * Fixed footer for codechat
 *
 * 1. 
 *    
 */

/**
 * Footer
 *
 * 1. 
 *    
 */

.Footer {
	height: 3em;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #fff;
	width: 100%;
	background-color: #000;
}