/*! suit-header v0.1 | github.com/ericmcdaniel/codechat */

/* ==========================================================================
   SUIT: Header
   ========================================================================== */

/**
 * Code window for codechat
 *
 * 1. 
 *    
 */

/**
 * Header
 *
 * 1. 
 *    
 */

.Header {
	height: 3em;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	width: 100%;
	background-color: #000;
}
.Header-nav > a {
	padding: 1em;
	line-height: 3em;
	color: #fff;
}
.Header-nav > a:hover {
	background-color: #333;
}
.Header-nav > form {
	line-height: 3em;
	float: right;
	color: #000;
	display: inline;
}

.Header-nav > form > input {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	margin-right: 1em;
	padding: 0.5em;
}

.Header-nav > form > input:focus {
	outline: 0;
}