/*! suit-user-color-bar v0.1 | github.com/ericmcdaniel/codechat */

/* ==========================================================================
   SUIT: User color
   ========================================================================== */

/**
 * User color component for codechat
 *
 * 1. 
 *    
 */

/**
 * User color item
 *
 * 1. 
 *    
 */

.UserColor--10 {
	border-left: 0.5em solid black;
}

@for $i from 0 to $num-colors {
	.UserColor--#{$i} {
		border-left: 0.4em solid adjust-hue($base-color, $offset + $spectrum / $num-colors * $i);
	}
}

@for $i from 0 to $num-colors {
	.UserColor--nested#{$i} {
		border-left: 0.4em solid adjust-hue($base-color-trimmed, $offset + $spectrum / $num-colors * $i);
	}
}