<chatMessage:>
	{{#if server}}
		<div class="cc-ChatMessage cc-UserColorBar cc-UserColorBar--10">
			<div class="ChatMessage-message">
				{{#if user}}
					{users[user].name}
				{{/}}
				{{comment}}
			</div>
		</div>
	{{else if trimmed}}
	<div class="cc-ChatMessage cc-UserColorBar cc-UserColorBar--dark{users[userId].userColor}">
		<div class="cc-ChatMessage-message">{{comment}}</div>
	</div>
	{{else}}
	<div class="cc-ChatMessage cc-UserColorBar cc-UserColorBar--{users[userId].userColor}">
		<div class="cc-ChatMessage-user">{users[userId].name}:</div>
		<div class="cc-ChatMessage-message">{{comment}}</div>
	</div>
	{{/}}