/* SUIT CSS Component */

.cc-CodeChat {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	min-width: 600px;
	min-height: 360px;
}

.cc-CodeChat-main {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 3;
}

.cc-CodeChat-editor {
	display: flex;
	flex-direction: column;
	flex: 0;
	overflow: hidden;
	transition: all 0.2s ease-out;
}

.cc-CodeChat-editor > textarea {
	flex: 1;
	resize: none;
	border: 0;
	padding: 0.5em;
	transition: all 0.2s ease-out;
	font-family: 'PT Mono', monospace;
	font-size: 0.85em;
	color: #999;
}

.cc-CodeChat-editor > textarea:focus {
	-webkit-box-shadow: inset 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    inset 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         inset 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
	flex: 2;
	color: #000;
}

.cc-CodeChat-editorBar {
	width: 100%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-bottom: 1px solid #eee;
	height: 3em;
	line-height: 3em;
} 

.cc-CodeChat-editorBar > h3 {
	height: 100%;
	width: 75px;
	display: inline-block;
	margin: 0;
	padding: 0 0.5em;
	background: #f6f6f6;
	text-align: center;
}
 
.cc-CodeChat-editorBar > input {
	display: inline-block;
}

.cc-CodeChat-editorBar > input[type="checkbox"] {
	margin: 0 1em;
}

.cc-CodeChat-editorBar > input[type="button"] {
	font-size: 0.85em;
	margin: 0;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	height: 100%;
	color: #000;
	background: #fff;
}

.cc-CodeChat-editorBar > input[type="button"]:not(:first-child) {
	margin-left: -1px !important;
}

.cc-CodeChat-editorBar > input[type="button"]:hover {
	border-color: #aaa;
}

.cc-CodeChat-editorBar > input[type="button"]:active {
	border-color: #ccc;
}