.cc-Modal {

}

.cc-Modal-header {

}

.cc-Modal > p {

}

.cc-Modal-command {
	margin: 1em 0;
}

.cc-Modal-command > h3 {

}

.cc-Modal-command > p {
	margin: 0.5em 0;
}

.cc-Modal ul {
	list-style: square !important;
	margin: 0.5em 0;
}

.cc-Modal ul li {
	padding: 0.5em;
}