.cc-UserColorBar {
	border-left: 6px solid #ccc !important;
}

.cc-UserColorBar--10 {
	border-left-color: black !important;
}

@for $i from 0 to $num-colors {
	.cc-UserColorBar--#{$i} {
		border-left-color: adjust-hue($base-color, $offset + $spectrum / $num-colors * $i) !important;
	}
}

@for $i from 0 to $num-colors {
	.cc-UserColorBar--dark#{$i} {
		border-left-color: adjust-hue($base-color-dark, $offset + $spectrum / $num-colors * $i) !important;
	}
}